@mixin boxShadow($horz: 0, $vert: 0, $blur: 10px, $spread: 0, $rgb: rgba(0,0,0,1)) {
    -webkit-box-shadow: $horz $vert $blur $spread $rgb;
    box-shadow: $horz $vert $blur $spread $rgb;
}

@mixin textShadow($horz: 0, $vert: 0, $blur: 0, $shadow: #000) {
    text-shadow: $horz $vert $blur $shadow;
}

@mixin transition($type: all, $speed: 0.2s, $ease: ease) {
    @if $type == 'all' {
            
        -webkit-transition: all $speed $ease;
        -moz-transition:    all $speed $ease;
        -ms-transition:     all $speed $ease;
        -o-transition:      all $speed $ease;
        transition:         all $speed $ease;

    } @else {
        -webkit-transition: -webkit-$type $speed $ease;
        -moz-transition:    -moz-$type $speed $ease;
        -ms-transition:     -ms-$type $speed $ease;
        -o-transition:      -o-$type $speed $ease;
        transition:         $type $speed $ease;
    }
}

@mixin Scale($width: 1, $height: 1) {
    -webkit-transform: scale($width, $height);
    -moz-transform: scale($width, $height);
    -ms-transform: scale($width, $height);
    -o-transform: scale($width, $height);
    transform: scale($width, $height);
}