<section id="justin-bg" class="full bg-img">
    <div id="welcome" class="row start-xs">
        <div>
            <h1>{{title}}</h1>
        </div>
    </div>
    <div id="tagline" class="row end-xs">
        <div class="col-xs col-sm-6">
            <h2>{{tagline}}</h2>
        </div>
    </div>

    <div id="resume" class="row end-xs">        
        <div class="col-xs col-sm-5">    
            <div class="row">                            
                <div class="col-xs-6">
                    <a href="#/about">about</a>
                </div>

                <div class="col-xs-6">
                    <a href="./resume.pdf" target="_blank">resume</a>
                </div>
            </div>
        </div>
    </div>

    <div id="disclaimer" class="row bottom-xs">
        <h4>{{disclaimer}}</h4>
    </div>
</section>

<section id="mission-statement">
    <div class="container">
        <h2>{{mission}}</h2>
        <p>{{statement}}</p>
    </div>
</section>

<section id="languages">
    <div class="container">
        <h3>{{languageTitle}}</h3>

        <div class="row" id="logos">
            <div class="col-xs" ng-repeat="lang in languages">
                <img src="./img/logos/skills/{{lang}}-logo.svg" />
            </div>
        </div>
    </div>
</section>

<section id="projects">
    <div class="container">

        <h3>{{projectTitle}}</h3>

        <div class="project-item" ng-repeat="project in projects">
            <div class="row">
                <div class="col-sm-3 photo">
                    <a href="{{project.projectUrl}}" target="_blank">
                        <img src="{{project.projectThumb}}" />
                    </a>
                </div>

                <div class="col-sm-9">
                    <div class="details">
                        <div class="row bottom-xs">
                            <div class="col-xs">
                                <div class="info">
                                    <h4>{{project.title}}</h4>
                                    <p>{{project.description}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row bottom-xs">
                            <div class="tech-used">
                                <p>{{project.languages}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    </div>
</section>